<%= turbo_frame_tag "turbo-modal" do %>
  <div data-controller="turbo-modal"  data-action="turbo:submit-end->turbo-modal#cancel">

    <div data-turbo-modal-target="modal" data-action="click->turbo-modal#hide" class="modal">
      <div class="modal-box relative">
        <h3 class="text-lg font-bold"><%= @workspace_user.show_name %></h3>
        <p class="py-4">Details</p>
        <div class="modal-action">
          <%= button_tag 'Cancel', data: { action: 'click->turbo-modal#cancel' }, class: 'btn btn-ghost' %>
        </div>
      </div>
    </div>

  </div>
<% end %>