<div style="line-height: 24px; text-align: center; max-width: 32rem; display: flex; flex-direction: column; align-items: center; justify-content: center; border-radius: 0.5rem; border: 1px solid rgb(75 85 99/1); margin: 2.5rem; padding: 2.5rem">
  <h2>Hello <%= @workspace_user.email %>!</h2>

  <p>You've been invited to join <span style="color: #c65029;"><%= @workspace_user.workspace.name %></span> on <span style="color: #c65029;">Gooff</span>.</span>

  <%= if @workspace_user.user.present? %>
    <p>We</p>
  <% else %>
    <p>We</p>
  <% end %>

  <p><%= link_to 'Create an account', new_user_registration_url, style: 'border-radius: 0.5rem; padding: 10px 25px; color: white; background: rgb(108 43 217/1); text-decoration: none; font-weight: 500;' %></p>

</div>
