<div id="new-workspace">
  <div class="mx-auto my-10 rounded-lg shadow p-10 max-w-lg border-gray-600 border-solid border">
    <h1 class="text-center text-2xl">New workspace</h4>

    <%= render "form", workspace: @workspace %>
  </div>
</div>