<div id="new-workspace">
  <div class="row m-5"></div>

  <div class="row">
    <div class="col-lg-7 mx-auto">
      <div class="bg-white rounded-lg shadow-sm p-5">
        <div class="col-lg-8 mx-auto text-center">
          <h4 class="">New workspace</h4>
        </div>

        <div class="tab-content">
          <div id="nav-tab-card" class="tab-pane fade show active">
            <%= render "form", workspace: @workspace %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>