<%= turbo_frame_tag 'new_workspace' do %>
  <div class="text-center">
    <%= link_to 'New Workspace', new_workspace_path, class: "btn btn-primary my-3" %>
  </div>
<% end %>

<div id="workspace_index">
  <% current_user.my_workspaces.order(created_at: :desc).each do |workspace| %>
    <%= render partial: 'workspaces/workspace', locals: { workspace: workspace } %>
  <% end %>
</div>
<div id="workspace_users_index">
  <% current_user.workspaces.order(created_at: :desc).each do |workspace| %>
    <%= render partial: 'workspaces/workspace', locals: { workspace: workspace } %>
  <% end %>
</div>
