.icon-field {
  display: flex;
  justify-content: center;
  .profile-pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 10px;
  }
  label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.profile-thumb {
  width: 35px;
  height: 35px;
  object-fit: cover;
}
