.account-avatar {
  &:hover {
    cursor: pointer;
  }
}
@media (max-width: 767px) {
  .dropdown-menu {
    right: 0;
    width: calc(100vw - 40px);
    .dropdown-item {
      font-size: 1.5rem;
    }
  } 
  .dropdown{
    position: relative;
  }
}