<%= turbo_frame_tag "turbo-modal", target: "_top" do %>
  <div class="modal-header">
    <h3 class="modal-title">Are you sure?</h2>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <div class="modal-body">
      <p>You are about to permanetly delete your account.</p>
    </div>
  </div>
  <div class="modal-footer">
    <%= button_to 'Confirm', registration_path(resource_name), data: { turbo: false }, class: 'btn btn-danger mx-3', method: :delete %>
    <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">
      Back
    </button>
  </div>
<% end %>
