<div
  class="modal fade"
  tabindex="-1"
  data-controller="turbo-modal"
  data-action="turbo:frame-load->turbo-modal#open turbo:submit-end->turbo-modal#close"
>
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
      <%= turbo_frame_tag "turbo-modal" %>
    </div>
  </div>
</div>